[submodule "external/arduino-esp32"]
	path = external/arduino-esp32
	url = https://github.com/espressif/arduino-esp32
[submodule "external/esp-idf"]
	path = external/esp-idf
	url = https://github.com/espressif/esp-idf
